<a href="https://colab.research.google.com/github/Rahul896911/Python_for_loop_asg_question/blob/main/Python_For_loop_Asg_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Basic level :

In [ ]:
#Q1 To print the numbers from 1 to 10 using a for loop,we can use the following code:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q2 To calculate the sum of all numbers in a list using a for loop,we can use the following code:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    sum += num
print("The sum is:", sum)

The sum is: 15

In [ ]:
#Q3 To print the characters of a string in reverse order using a for loop, we can use the following code:
string = "Hello, World!"
for i in range(len(string)-1, -1, -1):
    print(string[i])

!
d
l
r
o
W

,
o
l
l
e
H

In [ ]:
#Q4 To print the multiplication table of a given numbers  using a for loop,we can use the following code:
num = 5
factorial = 1
for i in range(1, num+1):
    factorial *= i
print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [ ]:
#Q5 To print the multiplication table of a given number using a for loop,we can use the following code:
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Q6 To count the number of even and odd numbers in a list using a for loop,we can use the following code:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 4
Number of odd numbers: 5

In [ ]:
#Q7 To print the squares of numbers from 1 to 5 using a for loop,we can use the following code:
for i in range(1, 6):
    print(i, "squared is", i**2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [ ]:
#Q8 To find the length of a string without using the len() function, we can use the following code:
string = "Hello, World!"
count = 0
for char in string:
    count += 1
print("The length of the string is:", count)

The length of the string is: 13

In [ ]:
#Q9 To calculate the average of a list of numbers using a for loop,we can use the following code:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    sum += num
average = sum / len(numbers)
print("The average is:", average)

The average is: 3.0

In [ ]:
#Q10 To print the  first n Fibonacci numbers using a for loop,you we use the following coe:
n = 10
fibonacci = [0, 1]
for i in range(2, n):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
print("The first", n, "Fibonacci numbers are:", fibonacci)

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Intermediate level:

In [ ]:
#Q11 To check if a given list contains any duplicates using a for loop , we can use the following code:
numbers = [1, 2, 3, 4, 5, 5]
for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        if numbers[i] == numbers[j]:
            print("The list contains duplicates")
            break

The list contains duplicates

In [ ]:
#Q12 To print the prime numbers in a given range using a loop,we can use the following code:
start = 10
end = 50
for num in range(start, end+1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#Q13 To count the numbers of vowels in a string using a loop,we can use the following code:
string = "Hello, World!"
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print("The number of vowels is:", count)

The number of vowels is: 3

In [ ]:
#Q14 To find the maximum element in 2D list using a nested for loop,you can use the following code:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_element = matrix[0][0]
for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element
print("The maximum element is:", max_element)

The maximum element is: 9

In [ ]:
#Q15 To remove all occurrences of a specific element from a list using a for loop,you can use the following code:
numbers = [1, 2, 3, 4, 5, 5]
to_remove = 5
for num in numbers:
    if num == to_remove:
        numbers.remove(num)
print("The list after removing all occurrences of", to_remove, "is:", numbers)

The list after removing all occurrences of 5 is: [1, 2, 3, 4, 5]

In [ ]:
#Q16 To generate a mulptiplication table for numbers from 1 to 5 using a nested for loop,you can use the following code:
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "x", j, "=", i*j)
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Q17 To convert a list of Fahrenheit temperatures to celsius using a for loop,you can use the following code:
fahrenheit = [32, 50, 68, 86, 104]
celsius = []
for temp in fahrenheit:
    celsius.append((temp - 32) * 5/9)
print("The temperatures in Celsius are:", celsius)

The temperatures in Celsius are: [0.0, 10.0, 20.0, 30.0, 40.0]

In [ ]:
#Q18 To print the common elements from two lists using  a for loop,you can use the following code:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = []
for num in list1:
    if num in list2:
        common.append(num)
print("The common elements are:", common)

The common elements are: [4, 5]

In [ ]:
#Q19 To print the pattern of right-angledd triangles using a for loop,you can use the following code:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
#Q20 To find the greatest common divisor (GCD)of two numbers using a for loop,you can use the following code:
num1 = 24
num2 = 36
gcd = 1
for i in range(1, min(num1, num2)+1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("The GCD of", num1, "and", num2, "is", gcd)

The GCD of 24 and 36 is 12

Advanced level:

In [ ]:
#Q21 To calculate the sum of the digits of numbers in a list using a list comprehension,you can use the following code:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
    sum = 0
    for digit in str(ele):
        sum += int(digit)
    res.append(sum)
print("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [ ]:
#Q22 TO find the prime factors of a given number using a for loop and list comprehension,you can use the following code:
num = 24
factors = [factor for factor in range(2, num+1) if num % factor == 0]
prime_factors = [factor for factor in factors if all(factor % i != 0 for i in range(2, factor))]
print("The prime factors of", num, "are:", prime_factors)

The prime factors of 24 are: [2, 3]

In [ ]:
#Q23 TO extract unique elements from a list and strore them in a new list using a list comprehension,you can use the following:
numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9]
unique = [num for i, num in enumerate(numbers) if num not in numbers[:i]]
print("The unique elements are:", unique)

The unique elements are: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Q24 To generate a list of all palindromic numbers up to a specified limit using a list comprehension you can use the following code:
limit = 100
palindromes = [num for num in range(1, limit+1) if str(num) == str(num)[::-1]]
print("The palindromic numbers up to", limit, "are:", palindromes)

The palindromic numbers up to 100 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
#Q25 To Flatten a nested list using list comprehension,you can use the following code:
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = [num for sublist in nested for num in sublist]
print("The flattened list is:", flat)

The flattened list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Q26 To compute the sum of even and odd numbers in a list separately using list comprehension,we can us ethe followin code:
def compute_sum_of_even_and_odd_numbers(numbers):
    even_sum = sum(n for n in numbers if n % 2 == 0)
    odd_sum = sum(n for n in numbers if n % 2 == 1)
    return even_sum, odd_sum

In [ ]:
#Q27 To generate a list of squares ofodd nubers between 1 and 10 using list  comprehension, you can use the following code:

squares = [num**2 for num in range(1, 11) if num % 2 != 0]
print("The squares of odd numbers between 1 and 10 are:", squares)

The squares of odd numbers between 1 and 10 are: [1, 9, 25, 49, 81]

In [ ]:
#Q28 To combine two lists into a dictionary using list comprehension,you can use the following code:
keys = ["a", "b", "c"]
values = [1, 2, 3]
dictionary = {keys[i]: values[i] for i in range(len(keys))}
print("The dictionary is:", dictionary)

The dictionary is: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Q29  To extract the vowels from string and store them in a list using comprehension,you can use the following code:
string = "Hello, World!"
vowels = "aeiouAEIOU"
vowel_list = [char for char in string if char in vowels]
print("The vowels in the string are:", vowel_list)

The vowels in the string are: ['e', 'o', 'o']

In [ ]:
#Q30 To remove all non-numeric characters from a list of strings using list comprehension,you can use the following code:
strings = ["abc", "123", "def", "456"]
numbers = [int(string) for string in strings if string.isdigit()]
print("The numeric strings are:", numbers)

The numeric strings are: [123, 456]

Challenge loop:

In [1]:
#Q31 To generate a list of prime numbers using the sieve of Eratosthenes algorithm and list comprehension,you can us ethe following code:
def sieve_of_eratosthenes(n):
    primes = [True] * (n + 1)
    primes[0], primes[1] = False, False
    for i in range(2, int(n ** 0.5) + 1):
        if primes[i]:
            for j in range(i ** 2, n + 1, i):
                primes[j] = False
    return [i for i in range(2, n + 1) if primes[i]]

print(sieve_of_eratosthenes(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
#Q32 To generate a list of all pythagorean triplets up to a specified limit using list comprehension,you can us ethe following code:
limit = 20
pythagorean_triplets = [(a, b, c) for c in range(1, limit + 1) for b in range(1, c) for a in range(1, b) if a ** 2 + b ** 2 == c ** 2]

print(pythagorean_triplets)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20)]

In [3]:
#Q33 To generate a list of all possible combinations of two lists using list comprehension,we can use the followinng code:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [4]:
#Q34 To calulate the mean , median,and mode of a list of numbers using list comprehension , we can use the following code:
from statistics import mean, median, mode

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mean = mean(numbers)
median = median(numbers)
mode = mode(numbers)

print(f"Mean: {mean}, Median: {median}, Mode: {mode}")

Mean: 5.5, Median: 5.5, Mode: 1

In [5]:
#Q35 TO generate pascal's triangle up to a specified number of rows using list comprehension,we  can use the following code :
def pascal_triangle(n):
    triangle = [[1] * (i + 1) for i in range(n)]
    for i in range(n):
        for j in range(1, i):
            triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    return triangle

print(pascal_triangle(5))

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [6]:
#Q36 TO calculate the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension,we can use the following code:
from math import factorial

sums = [sum(int(digit) for digit in str(factorial(n))) for n in range(1, 6)]

print(sums)

[1, 2, 6, 6, 3]

In [7]:
#Q37 To find the longest word in a sentence using list comprehension , we can use the following code:
sentence = "The quick brown fox jumps over the lazy dog"
longest_word = max([word for word in sentence.split()], key=len)

print(longest_word)

quick

In [8]:
#Q38 To filter a list of strings to include only those with more than three vowels using list comprehension,you can use the following code:
words = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grapefruit"]
filtered_words = [word for word in words if sum(1 for letter in word if letter in "aeiouAEIOU") > 3]

print(filtered_words)

['grapefruit']

In [9]:
#Q39 To cal calculate the sum of the digits of numbers from 1 to 1000 using list comprehension,you  can use the following code:
sums = [sum(int(digit) for digit in str(n)) for n in range(1, 1001)]

print(sums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [10]:
#Q40 To generate a list of prime palindromic numbers using list comprehension,you can use the following code:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

primes = [n for n in range(2, 1000) if all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))]
palindromes = [n for n in primes if is_palindrome(n)]

print(palindromes)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]